@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
/*Global*/

*{
	margin: 0;
	padding: 0;	
	box-sizing: border-box;	
	border-width: 1px;
	border-color: #353535;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 25px;
	color: #A6A6A6;

}
html{background: #333333;
}

input:focus {
	outline:0 !important;
}
input:active {
  border-style: outset;
}

/*container*/

#cal_Container{
	width: 350px;
	margin: 70px auto;}

/*bottons*/

#display_answer{
	width: 350px;
	height: 105px;
	font-size: 40px;
	text-align: right;
	padding: 20px;
	padding-right: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: #161616;
	color: #fff;
}
.btn{
	width: 25%;
	height: 80px;
	float: left;
	display: block;
	background: #2E2E2E;
}

#zeroButton{
	width: 50%;
	height: 80px;
	float: left;
	background: #2E2E2E;

}
#clearButton{
	width: 50%;
	height: 80px;
	float: left;
	background: #252525;
	font-size: 18px;
} 


#equal{
	width: 25%;
	height: 160px;
	float: right;
	display: block;
	background-color: #EB8130;
	color: white;

}

#title{
	font-size: 9px;
	position: relative;
	left: 7px;
	top: 17px;
	color: #5C5C5C;
}

.opp{
	background: #252525;


}
